@import 'tailwindcss';

@theme {
    --color-background: #ffffff;
    --color-foreground: #0f172a;

    --color-primary-50: #f3f0ff;
    --color-primary-100: #e8e0ff;
    --color-primary-200: #d3c4ff;
    --color-primary-300: #b79eff;
    --color-primary-400: #9a79fb;
    --color-primary-500: #8055f7;
    --color-primary-600: #673de6;
    --color-primary-700: #5333c7;
    --color-primary-800: #3e28a3;
    --color-primary-900: #2b1e7f;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
