@import 'tailwindcss';

@theme {
    --color-background: #ffffff;
    --color-foreground: #0f172a;

    --color-primary-500: #7c66f5;
    --color-primary-600: #673de6;
    --color-primary-700: #5333c7;

    --color-success-50: #e8f5e9;
    --color-success-200: #a5d6a7;
    --color-success-700: #388e3c;

    --color-error-50: #ffebee;
    --color-error-200: #ef9a9a;
    --color-error-500: #f44336;
    --color-error-600: #e53935;
    --color-error-700: #d32f2f;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
